spring:
  application:
    name: worker

  profiles:
    default: local

  config:
    import:
      - optional:classpath:postgres.main.yml
      - optional:classpath:postgres.target.yml
      - optional:classpath:mongo.yml

  thymeleaf:
    cache: true

  batch:
    job:
      enabled: false  # job.name으로 실행할 때만
      name:
    jdbc:
      initialize-schema: never

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  sql:
    init:
      mode: never
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        mongo.command.duration: true

#Target DB
app:
  sql:
    step1:
      mainBase: classpath:sql/job1/step1/main
      targetBase: classpath:sql/job1/step1/target

      #Step01 - SQL1 fetch size
      reader:
        fetchSize: 30000
        bulkSize: 10000
      chunk:
        chunkSize: 10000

  billing:
    step3:
      chunk-size: ${BATCH_JOB1_STEP3_CHUNK_SIZE:3000}
      fetch-size: ${BATCH_JOB1_STEP3_FETCH_SIZE:6000}
      lease-seconds: ${BATCH_JOB1_STEP3_LEASE_SECONDS:3000}
    mongo:
      work:
        collection: billing_work
      snapshot:
        collection: billing_snapshot
      chunk-size: 3000
      fetch-size: 6000
      lease-seconds: 500

  #Job2 step1
  mongo:
    snapshot:
      batch-size: 6000
      chunk-size: 3000

  liquibase:
    target:
      enabled: true
      change-log: classpath:/db/changelog/target/db.changelog-master.yml
      contexts: dev


#Batch 환경 변수
batch:
  job1StartTime:
  job2StartTime:
  channelOrder: ${CHANNEL_ORDER}

time:
  zone: Asia/Seoul
  format: yyyy-MM-dd HH:mm:ss



#Log setting
logging:
  level:
    root: ERROR


# S3 설정값
s3:
  bucket: ${S3_BUCKET:}

aws:
  region: ${AWS_REGION:}

  s3:
    max-connections: ${S3_MAX_CONNECTIONS:200}
    upload:
      concurrency: ${S3_UPLOAD_CONCURRENCY:32}
      queue-capacity: ${S3_UPLOAD_QUEUE_CAPACITY:12000}

---

spring:
  config:
    activate:
      on-profile: dev

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
    name:

logging:
  level:
    root: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.jdbc.core: DEBUG


# S3 설정값
s3:
  bucket: ${S3_BUCKET:billing-tr1l-apne2}

aws:
  region: ${AWS_REGION:ap-northeast-2}

secret-key: Xy9zPvQ3kL5mRnJwT8bH2cD4fG7jA1sE
algorithm: AES
transformation: AES/GCM/NoPadding