**/.gradle
**/build
**/out
!contexts/billing/src/main/java/com/tr1l/billing/adapter/out/
!contexts/billing/src/main/java/com/tr1l/billing/adapter/out/**
!contexts/billing/src/main/java/com/tr1l/billing/port/out/
!contexts/billing/src/main/java/com/tr1l/billing/port/out/**
!contexts/dispatch/src/main/java/com/tr1l/delivery/infra/adapter/out/
!contexts/dispatch/src/main/java/com/tr1l/delivery/infra/adapter/out/**
!contexts/dispatch/src/main/java/com/tr1l/delivery/application/port/out/
!contexts/dispatch/src/main/java/com/tr1l/delivery/application/port/out/**
!contexts/dispatch/src/main/java/com/tr1l/dispatch/application/port/out/
!contexts/dispatch/src/main/java/com/tr1l/dispatch/application/port/out/**

.idea
**/*.iml

.git
.github

node_modules
dist

*.log
.env
