spring:
  application:
    name: dispatch-server

  profiles:
    default: local

  config:
    import:
      - postgres.yml
      - mongo.yml
      - kafka.yml

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev

logging:
  level:
    root: INFO
