<configuration>
  <property name="APP" value="${spring.application.name:-app}"/>
  <property name="ENV" value="${spring.profiles.active:-local}"/>
  <property name="BC"  value="${APP_BC:-UNKNOWN}"/>
  <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>

        <!-- 필드명 고정 -->
        <timestamp>
          <fieldName>ts</fieldName>
          <timeZone>Asia/Seoul</timeZone>
        </timestamp>
        <logLevel>
          <fieldName>level</fieldName>
        </logLevel>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <message/>

        <!-- 필드(app/env/bc) -->
        <globalCustomFields>
          {"app":"${APP}","env":"${ENV}","bc":"${BC}"}
        </globalCustomFields>

        <!-- MDC를 그대로 JSON에 포함 -->
        <mdc/>

        <!-- 예외 -->
        <stackTrace>
          <fieldName>error.stacktrace</fieldName>
        </stackTrace>
      </providers>
    </encoder>
  </appender>


  <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>8192</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <neverBlock>true</neverBlock>
    <appender-ref ref="CONSOLE_JSON"/>
  </appender>

  <root level="INFO">
    <appender-ref ref="ASYNC_JSON"/>
  </root>
</configuration>
