spring:
  application:
    name: api-server

  config:
    import:
      - postgres.yml
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    root: INFO
