spring:
  application:
    name: api-server

  config:
    import:
      - postgres.yml
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  # Table Setup
  flyway:
    enabled: true
    locations: "classpath:db/migration"
    default-schema: public
    baseline-on-migrate: true
    clean-disabled: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
