name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: ["main", "develop"]

permissions:
  contents: read

jobs:
#  build-test-sonar:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v4
#        with:
#          # Sonar가 git 히스토리를 활용할 때가 많아서 0 권장
#          fetch-depth: 0
#
#      - name: Set up JDK 17
#        uses: actions/setup-java@v4
#        with:
#          distribution: temurin
#          java-version: "17"
#          cache: gradle
#
#      - name: Grant execute permission for gradlew
#        run: chmod +x ./gradlew
#
#      - name: Test + JaCoCo + Sonar
#        env:
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#        run: |
#          ./gradlew clean test jacocoTestReport sonar
